<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vifa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Vifa.Properties.Settings>
            <setting name="GamoPGNStartDir" serializeAs="String">
                <value>D:\Worka\Csharpo\pfVisualisator</value>
            </setting>
            <setting name="MinoKvo" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ValuiKvo" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AnaloyDir" serializeAs="String">
                <value>D:\tempo\517</value>
            </setting>
        </Vifa.Properties.Settings>
    </userSettings>
</configuration>