<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlyWorko.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OnlyWorko.Properties.Settings>
            <setting name="LogoSwitcher" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogoFilo" serializeAs="String">
                <value>.\LogoInfo.log</value>
            </setting>
            <setting name="Zapuskatel" serializeAs="String">
                <value>Homa</value>
            </setting>
            <setting name="Houdini" serializeAs="String">
                <value>E:\Virto\abo\Chess\engine\Houdini3Prow32.exe</value>
            </setting>
            <setting name="MinoKvo" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ValuiKvo" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BidoGamos" serializeAs="String">
                <value>Password=Petro;Persist Security Info=True;User ID=Petro;Initial Catalog=Gosoma;Data Source=vyz7;</value>
            </setting>
            <setting name="GamoConfigoAtr" serializeAs="String">
                <value>..\..\..\GamoAtro.cfg</value>
            </setting>
            <setting name="Komodo" serializeAs="String">
                <value>E:\Virto\abo\Chess\engine\komodo-tcecr-64bit.exe</value>
            </setting>
        </OnlyWorko.Properties.Settings>
    </userSettings>
</configuration>