<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="pfVisualisator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="pfVisualisator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <pfVisualisator.Properties.Settings>
            <setting name="BidoStringo" serializeAs="String">
                <value>Password=Petro;Persist Security Info=True;User ID=Petro;Initial Catalog=mywatcha;Data Source=vyz7;</value>
            </setting>
            <setting name="xmlORbase" serializeAs="String">
                <value>baso</value>
            </setting>
            <setting name="xmlFailo" serializeAs="String">
                <value>E:\Ksamalo\Repa160127.xml</value>
            </setting>
            <setting name="BinoRepoTablo" serializeAs="String">
                <value>OBG.RepoBinSP24_1505</value>
            </setting>
            <setting name="RepoForoTablo" serializeAs="String">
                <value>dbo.RepoFor1505</value>
            </setting>
            <setting name="GamoConfigoAtr" serializeAs="String">
                <value>..\..\..\GamoAtro.cfg</value>
            </setting>
            <setting name="GamoPGNStartDir" serializeAs="String">
                <value>D:\Worka\Csharpo\pfVisualisator</value>
            </setting>
            <setting name="BidoGamos" serializeAs="String">
                <value>Password=Petro;Persist Security Info=True;User ID=Petro;Initial Catalog=Gosoma;Data Source=vyz7;</value>
            </setting>
            <setting name="Zapuskatel" serializeAs="String">
                <value>Wrka</value>
            </setting>
            <setting name="Houdini" serializeAs="String">
                <value>E:\Chess\engine\Houdini3Prow32.exe</value>
            </setting>
            <setting name="LogoSwitcher" serializeAs="String">
                <value>1</value>
            </setting>
        </pfVisualisator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <pfVisualisator.Properties.Settings>
            <setting name="LogoFilo" serializeAs="String">
                <value>.\LogoInfo.log</value>
            </setting>
        </pfVisualisator.Properties.Settings>
    </userSettings>
</configuration>
