<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="pfVisualisator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <pfVisualisator.Properties.Settings>
            <setting name="BidoStringo" serializeAs="String">
                <value>Password=Petro;Persist Security Info=True;User ID=Petro;Initial Catalog=mywatcha;Data Source=vyz7;</value>
            </setting>
            <setting name="xmlORbase" serializeAs="String">
                <value>baso</value>
            </setting>
            <setting name="xmlFailo" serializeAs="String">
                <value>D:\Worka\XML\Obago\Repa.xml</value>
            </setting>
            <setting name="BinoRepoTablo" serializeAs="String">
                <value>OBG.RepoBinSP24_1505</value>
            </setting>
            <setting name="RepoForoTablo" serializeAs="String">
                <value>dbo.RepoFor1505</value>
            </setting>
            <setting name="GamoConfigoAtr" serializeAs="String">
                <value>..\..\..\GamoAtro.cfg</value>
            </setting>
            <setting name="GamoPGNStartDir" serializeAs="String">
                <value>D:\Worka\Csharpo\pfVisualisator</value>
            </setting>
        </pfVisualisator.Properties.Settings>
    </applicationSettings>
</configuration>
